body {
  width: 100%;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-image: url(../images/spikes.png);
  max-width: 100%;
  overflow-x: hidden; }

#startingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 35%;
  background-image: linear-gradient(20deg, rgba(198, 255, 221, 0.8), rgba(251, 215, 134, 0.8), rgba(247, 121, 125, 0.8));
  color: white;
  border: 1px solid lightgrey; }
  #startingPage button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff; }

header {
  height: 45px;
  background-color: #05386B;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap; }
  header img {
    width: 40px;
    height: 30px; }
  header nav ul {
    display: flex;
    width: 100%;
    justify-content: center; }
  header nav li {
    display: inline-block;
    list-style: none;
    color: black;
    font-weight: bold;
    vertical-align: middle; }
    header nav li button {
      font-size: 15px;
      color: white;
      border: none;
      background: none;
      padding: 6px 22px;
      border-radius: 2px; }
    header nav li button:hover {
      background-color: #3B5CA0; }
  header nav li:not(:last-child) button {
    border-right: 0.6px solid white; }

#searchBox {
  position: static;
  z-index: 1; }
  #searchBox input {
    font-size: 20px;
    height: 30px;
    width: 300px; }

.searches {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background-color: white;
  padding: 5px 15px; }
  .searches img {
    align-self: center;
    justify-self: flex-start;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    width: 40px;
    height: 40px;
    border: 2px black solid;
    margin-right: 20px; }
  .searches:hover {
    background-color: #E9EBEE; }
  .searches:not(:last-child) {
    border-bottom: 1px solid lightgrey; }

#hints {
  position: absolute;
  border: 1px solid lightgrey; }

.post {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-template-rows: 85px minmax(40px, 60px) auto auto 0.2fr auto;
  grid-gap: 10px 10px;
  padding: 20px 20px;
  margin: auto;
  width: 45%;
  border-radius: 1%;
  border: 1px lightgrey solid;
  background-color: white; }
  .post .profilePic {
    grid-column: 1;
    grid-row: 1;
    gap: 5px 5px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    width: 80px;
    height: 80px;
    border: 1px black solid; }
  .post .postPic {
    gap: 0px;
    grid-column: 1/5;
    grid-row: 4;
    object-fit: cover;
    width: 100%;
    max-height: 100%; }
  .post h2 {
    justify-self: left;
    align-self: center;
    grid-column: 2;
    grid-row: 1; }
  .post .date {
    align-self: center;
    justify-self: center;
    grid-column: 3;
    grid-row: 1; }
  .post h3 {
    align-self: bottom;
    justify-self: left;
    grid-column: 1/3;
    grid-row: 2; }
  .post .content {
    grid-column: 1/5;
    grid-row: 3;
    word-break: break-all; }
  .post .postButtons img {
    margin-right: 20px;
    align-self: center;
    justify-self: center;
    border: none;
    width: 30px;
    height: 30px; }
  .post button {
    border: none;
    padding: 0;
    width: 25px;
    height: 25px;
    justify-self: right;
    align-self: top;
    background: url(../images/delete.png) no-repeat;
    background-size: contain; }
  .post .like {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 5;
    border-bottom: 1px solid #DADDE1;
    border-top: 1px solid #DADDE1;
    padding: 0px 50px;
    margin-top: 30px; }
    .post .like:hover {
      background-color: #F2F3F5; }
  .post .comments {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    grid-column: 3;
    grid-row: 5;
    border-bottom: 1px solid #DADDE1;
    border-top: 1px solid #DADDE1;
    padding: 0px 50px;
    margin-top: 30px; }
    .post .comments:hover {
      background-color: #F2F3F5; }
  .post .commentBox {
    display: flex;
    flex-direction: column;
    align-self: left;
    justify-self: top;
    grid-column: 1/5;
    grid-row: 6;
    width: 100%; }
    .post .commentBox .comment {
      display: flex;
      flex-direction: row;
      justify-self: center;
      background-color: #DADDE1;
      width: auto;
      border-radius: 2%;
      padding: 5px 5px; }
      .post .commentBox .comment div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        margin-right: 20px;
        min-width: 100px;
        max-width: 100px; }
        .post .commentBox .comment div:nth-child(1) img {
          align-self: center;
          justify-self: flex-start;
          border-radius: 50%;
          object-fit: cover;
          object-position: 50% 50%;
          width: 40px;
          height: 40px;
          border: 1px black solid; }
        .post .commentBox .comment div:nth-child(1) p {
          margin: 0px;
          margin-top: 5px;
          text-align: center; }
      .post .commentBox .comment div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center; }
        .post .commentBox .comment div:nth-child(2) p {
          margin: 0px; }
        .post .commentBox .comment div:nth-child(2) p:nth-child(1) {
          margin: 0px; }
      .post .commentBox .comment p {
        justify-self: center; }
      .post .commentBox .comment:nth-child(1) {
        margin-top: 15px; }
      .post .commentBox .comment:not(:last-child) {
        margin-bottom: 10px; }
    .post .commentBox form textarea {
      width: 100%;
      resize: vertical; }

.post:not(:last-child) {
  margin-bottom: 20px; }

#bodyProfile {
  margin: auto; }
  #bodyProfile #profilePic {
    grid-column: 3;
    grid-row: 1;
    object-fit: cover;
    object-position: 50% 50%;
    width: 250px;
    height: 250px;
    border: 1px white solid; }

.hide {
  display: none; }

/*# sourceMappingURL=style.css.map */
